blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
Werkzeug==3.0.4
flask_sqlalchemy==3.0.0
flask_cors==3.0.10
requests==2.28.1
mysqlclient==2.0.3
pymysql==1.1.1
SQLAlchemy==1.4.47
uWSGI==2.0.27
waitress==2.1.2
gunicorn==23.0.0

